---
import AboutUsLocalizedPage from './[lang]/amara-about-us.astro';

const lang = 'es';
---

<div data-lang={lang}>
  {/* @ts-ignore - Reuse localized page implementation for root Spanish route */}
  <AboutUsLocalizedPage />
</div>
