---
import LocalizedPage from './[lang]/comfort-amenities.astro';

const lang = 'es';
---

<div data-lang={lang}>
  {/* @ts-ignore - Reuse localized page implementation for root Spanish route */}
  <LocalizedPage lang={lang} />
</div>
