---
import DirectBookingBenefitsLocalizedPage from './[lang]/direct-booking-benefits.astro';

const lang = 'es';
---

<div data-lang={lang}>
  {/* @ts-ignore - Reuse localized page implementation for root Spanish route */}
  <DirectBookingBenefitsLocalizedPage lang={lang} />
</div>
