---
import GuestReviewsLocalizedPage from './[lang]/guest-reviews.astro';

const lang = 'es';
---

<div data-lang={lang}>
  {/* @ts-ignore - Reuse localized page implementation for root Spanish route */}
  <GuestReviewsLocalizedPage lang={lang} />
</div>
