---
import HomeLocalizedPage from './[lang]/index.astro';

const lang = 'es';
---

<div data-lang={lang}>
  {/* @ts-ignore - Reuse localized page implementation for root Spanish route */}
  <HomeLocalizedPage lang={lang} />
</div>
