---
import LegalNoticeLocalizedPage from './[lang]/legal-notice.astro';

const lang = 'es';
---

<div data-lang={lang}>
  {/* @ts-ignore - Reuse localized page implementation for root Spanish route */}
  <LegalNoticeLocalizedPage lang={lang} />
</div>
